<!DOCTYPE html>
<html>
<head>
  <title>Smith Auto Parts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
  <div id="top">
    <div id="logo">
      Smith Auto Parts
    </div>
  </div>
  <div id="menu">
    <div id="cats">
      <ul>
        <li>
          <%= link_to 'Home', {:controller=>'welcome', :action=>'home'}, :class=>'active' %> 
        </li>
        <li>
          <%= link_to 'Products', {:controller=>'products', :action=>'index'} %> 
        </li>
        <li>
         <a href='#'>News</a>
        </li>
        <li>
          <a href='#'>Gallery</a>
        </li>
        <li>
          <a href='#'>Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
<%= yield %>
</div>

<div id="fixed-bar">
 <div id="fixed-bar-content">
  <div>
    <a href="#" title="Tweet This" class="footer-twitter" target="_blank"></a>
  <a href="#" title="Share on Facebook" class="footer-facebook" target="_blank"></a>
  </div>
 </div>
</div>
</body>
</html>
