<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<ul>
	<% for item in @cart.line_items %>
		<li><%= item.quantity %> &times; <%= item.product.name %></li>
	<% end %>
	Total Price: <%= number_to_currency(@cart.total_price, :unit => '&euro;') %><br/>
	<br/>
	<%= button_to 'Empty Cart', @cart, :method => :delete, :confirm => 'Are your sure?' %>
</ul>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>